<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<script src="scripts/vendor/jquery.js"></script>
<script src="scripts/vendor/underscore.js"></script>
<script src="scripts/vendor/Backbone.js"></script>
<script src="scripts/crossReference/Olga.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script src="scripts/vendor/handlebars-v3.0.0.js"></script>
<script src="scripts/templates/nav.js"></script>
<link rel="stylesheet" type="text/css" href="css/olgaScript.css">
    <script id="navbar" type="x-handlebars-template">
        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                {{#each this}}
                {{~#if mobileFriendly}}
                <li class="active">
                    <a href={{address}}>{{name}}</a>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
        {{~#if mobile}}
        <h4 class="small">For more examples please come back on a non mobile device</h4>
        {{/if}}
    </script>

<script type="text/tempate" id="masterCollection">
	<table class="table table-striped <%= classy %>">
	<tr>
	<% for(var i=0; i<ids.length; i++){ %>
		<th><%= ids[i] %></th>
		<% } %>
	</tr>
	</table>
</script>
<script type="text/tempate" id="BookTemp">
	<tr>
	<% for(var i=0; i<ids.length; i++){ %>
		<td><%= model[ids[i]] %></td>
		<% } %>
	</tr>
</script>
</head>
<body>
<div id="nav">
</div>
<div class='Forms'>
    <div class="form-group">
        <label for="textA">Small List</label>
        <textarea class="form-control" id="textA"></textarea>
    </div>

    <div class="form-group">
        <label for="key">Key for small list: </label>
        <input class="form-control" type="text" id="keyA">
    </div>

    <div class="form-group">
        <label for="textB">Master List</label>
        <textarea class="form-control" id="textB"></textarea>
    </div>

    <div class="form-group">
        <label for="keyB">Key for Master list: </label>
        <input class="form-control" type="text" id="keyB">
    </div>

    <br>
    <button class="btn btn-info">Cross Reference</button>
</div>
<div class="data"></div>

</body>
</html>
