<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/root.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <script src="scripts/vendor/react/react.js"></script>
    <script src="scripts/vendor/react/JSXTransformer.js"></script>

    <script type="text/jsx" src="scripts/ui/collapsible-list.js"></script>

    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/vendor/underscore.js"></script>
    <script src="scripts/vendor/materialize/materialize.min.js"></script>


    <!--<script src="scripts/vendor/jquery.js"></script>-->
    <!--<script src="scripts/vendor/underscore.js"></script>-->
    <script src="scripts/vendor/Backbone.js"></script>
    <script src="scripts/crossReference/Olga.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
    <!--<script src="scripts/vendor/handlebars-v3.0.0.js"></script>-->
    <!--<script src="scripts/templates/nav.js"></script>-->
    <link rel="stylesheet" type="text/css" href="css/olgaScript.css">


    <script type="text/template" id="masterCollection">
	<table class="table table-striped <%= classy %>">
	<tr>
	<% for(var i=0; i<ids.length; i++){ %>
		<th><%= ids[i] %></th>
		<% } %>
	</tr>
	</table>

    </script>
    <script type="text/tempate" id="BookTemp">
	<tr>
	<% for(var i=0; i<ids.length; i++){ %>
		<td><%= model[ids[i]] %></td>
		<% } %>
	</tr>

    </script>
</head>

<body>

<div id="nav"></div>
<script type="text/jsx" src="scripts/ui/ui.js"></script>

<div style="padding-top:65px" id="CollapsibleList"></div>
<script type="text/jsx" src="scripts/crossReference/crossReference.js"></script>



<div style="padding-top:65px" class='Forms'>
    <div class="form-group input-field">
        <label for="textA">Lookup List</label>
        <textarea class="form-control materialize-textarea" id="textA"></textarea>
    </div>

    <div class="form-group input-field">
        <label for="keyA">Key for Lookup list: </label>
        <input class="form-control" type="text" id="keyA">
    </div>

    <div class="form-group input-field">
        <label for="textB">Raw List</label>
        <textarea class="form-control materialize-textarea" id="textB"></textarea>
    </div>

    <div class="form-group input-field">
        <label for="keyB">Key for Raw list: </label>
        <input class="form-control" type="text" id="keyB">
    </div>

    <br>
    <button class="btn waves-effect-light btn-info"> Cross Reference <i class="mdi-action-assignment"></i></button>
</div>
<div class="data"></div>

</body>
</html>
