<!DOCTYPE html>
<html ng-app="OffendedApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="scripts/vendor/underscore.js"></script>
    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/offended/offended.js"></script>
</head>
<!--<body>-->
<body ng-controller="mainCtrl">
<div class="col-md-offset-1">
    <p style="font-size: 20px; color: #2aabd2; display: inline-block"  ng-mouseover="display()" ng-mouseleave="display()">why?</p>
</div>
<div ng-show="hover"><p class="col-lg-offset-1 col-md-10 col-lg-10 col-sm-10">
    Its ridiculous that people will get offended by a text file from the internet. This is to help prevent those people
    from finding offensive documents online. If they do happen to come across one they can simply come here and change it.
</p></div>
<div class="col-md-4 col-lg-4 col-sm-4" style="display: inline-block">
<h2 class="text-center" style="display: inline-block">Original -> </h2>
</div>
<div class="col-md-4 col-lg-4 col-sm-4" style="display: inline-block">
    <h2 class="text-center" style="display: inline-block">Remove -> </h2>
</div>
<div class="col-md-4 col-lg-4 col-sm-4" style="display: inline-block">
    <h2 class="text-center" style="display: inline-block">Puppies!!!</h2>
</div>
<br>
<br>
<textarea class="col-md-4 col-lg-4 col-sm-4" style="border: solid 1px red" rows="10000" ng-model="text"></textarea>
<textarea class="col-md-4 col-lg-4 col-sm-4" style="border: solid 1px orange" rows="10000" ng-model="offensive"></textarea>
<textarea class="col-md-4 col-lg-4 col-sm-4" style="border: solid 1px deepskyblue" rows="10000">{{puppy(text)}}</textarea>
</body>
</html>